.banner {
  width:100%;
}

body {
  font: 16px / 1.2 Arial, sans-serif;
  padding: 0;
  color: #aaa;
  border: 0;
  margin: 0;
  background: #33300d;
}

body > header {
  background-color:#000;
}
body > header > nav {

}
body > header > nav > li {
  display: inline-block;
  margin: 0.2em 0.5em;
}

main {

}
aside {
  float: right;
  margin: 1em 2em;
}
aside > div {
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}

footer {
  margin-bottom: 0;
  background-color: #000;
  margin-top:350px;
  padding: 2em 1em;
}

footer p {
  margin-left: 5px;
}

a {
  color: #2d85b7;
  text-decoration: none;
}

a:hover {
  color: #54bbf7;
}
a:focus {
  color: #98d6f9;
}
a:visited {
  color: #2d3760;
}
