.banner {
  width:100%;
}
* {
  padding: 0;
  color: #aaa;
  border: 0;
  margin: 0;
}
body {
  font: 16px / 1.2 Arial, sans-serif;
  margin-right: 0;
  background: linear-gradient(to bottom, rgba(242,222,191,1) 0%, rgba(125,93,55,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2debf', endColorstr='#7d5d37', GradientType=0 );
}
.video, body > header > nav, body > footer, .blog{
  background-color:#4d371d;
  border:3px solid #000;
  padding: 1rem;
}

body > header {
  width: 100%;
  background-color:#4d371d;\
  border-bottom:3px solid #000;
}
body > header > nav {
  border-bottom:3px solid #000;
  border-top:3px solid #000;
  margin: 0 auto;
}
body > header > nav > li {
  display: inline-block;
  margin-left: -0.27rem;
  border-right: 2px solid hsla(0, 0%, 100%, 0.3)
}
body > header > nav > li:last-of-type {
  border-right: 0;
}
header nav a {
  width: 100%;
  height: 100%;
  padding: 0.2em 0.5em;
}
.left, .right {
  margin: 4%;
  width: 45%;
}
.left {
  float: left;
}
.right {
  float: right;
}

.video {
  padding: 1rem;
  margin: 1em;
}
.video > iframe {
  width: 100%;
}

.blog {
  margin-left:2em;
  margin-top:1em;
  float: left;
  width: calc(60% - 4em);
}

main {
 display: flex;
 width: 95%;
 padding: 0.5em;
}
aside {
  float: right;
  margin: 1em;
  width: 40%;
}
aside > div {
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}

footer {
  margin-top: 5em;
  background-color: #4d371d;
  width:100%;
  border-top:3px solid #000;
  border-bottom:3px solid #000;
}

footer p {
  margin-left: 5px;
}

a {
  color:#aaa;
  font-weight:bold;
  text-decoration: none;
}

a:hover {
  color:#fff;
  background:#8f714f;
  border-radius: 0.2em;
}

nav a {
  margin-left:2em;
  margin-right:2em;
}
